<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not a city</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
  <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
      <a href="../" class="navbar-brand">Check The Weather!!!<span style="color: rgb(39, 117, 161);">
        </span> </a>

    </div>
  </div>
  <br><br><br>
  <center><h1><span class="badge badge-danger">NOT A VALID CITY</span></h1>
  <br><br>
      <a href="{% url 'home' %}" class="btn btn-info">Go Back</a></center>
</body>
</html>